.head{
    background-color:orange;
    height: 100px;
    text-align: center;
}
.nav{
 background-color: blueviolet;
    height: 25px;
    text-align: center;
  } 
  .main{
    height: 600px;
      display: flex;

    }
    #h{
        margin: 10px;
        padding: 10px;
    }
    .content1
    {
     background-color:green;
     flex-grow: 1;
     text-align: center;

    }
    .content2
    {
     background-color: blue;
     flex-grow: 1;
     text-align: center;
    
    }
    .content3
    {
     background-color: gray;
     flex-grow: 1;
     text-align: center;
    
    }
    .foot
    {
     background-color: brown ;
    height: 50px;
    text-align: center;
    }
